---
layout: default
---
<!-- _layouts/post.html -->
{%- assign year = page.date | date: "%Y" -%}
{%- assign tags = page.tags | join: "" -%}
{%- assign categories = page.categories | join: "" -%}

{% if page._styles %}
<!-- Page/Post style -->
<style type="text/css">
  {{ page._styles }}
</style>
{% endif %}

<div class="publications">
        {% bibliography -f papers -q @*[key={{ page.key }}]* %}
</div>


{% assign path = "publications/" | append: page.key | append: ".md" %}
{% assign path2 = "_publications/" | append: page.key | append: ".md" %}

{{path}}

{% assign file_exists = site.static_files | where: "path", path  %}
{% if file_exists.size != 0 %}
    Existiert
{% endif %}

{% assign file = site.static_files | where: "path", path2 | first %}
{% if file %}<img src="{{ jpg_path }}">{% endif %}


{% if site.static_files | where: "path", path | size > 0 %}
  <a href="({{ path | relative_url }}"></a>
{% endif %}

{% link _publications/Mansi2023Multi.md %}


{% assign post_found = false %}
{{ page.key }} nur zum test
{% for post in site.publications %}
  {% if post.key ==  page.key  %}
    {% assign post_found = true %}
    {% break %}
  {% endif %}
{% endfor %}

{% if post_found %}
  <!-- The post with the name "Lala" exists -->
  {{ post.key }}
  <!-- Add other content related to the post here -->
{% else %}
  <!-- The post with the name "Lala" does not exist -->
  Post not found.
{% endif %}