---
layout: default
---
<!-- _layouts/post.html -->
{%- assign year = page.date | date: "%Y" -%}
{%- assign tags = page.tags | join: "" -%}
{%- assign categories = page.categories | join: "" -%}

{% if page._styles %}
<!-- Page/Post style -->
<style type="text/css">
  {{ page._styles }}
</style>
{% endif %}

<div class="publications">
        {% bibliography -f papers -q @*[key={{ page.key }}]* %}
</div>


{% assign path = "/_publications/" | append: {{ page.key }} | append: ".md" %}

{% if site.static_files | where: "path", path | size > 0 %}
  [Link Text]({{ path | relative_url }})
{% endif %}


{% for static_file in site.static_files %}
    {{static_file.path}}
{% endfor %}